<!DOCTYPE html>
<html>
<head>
	<style>
	h1{
	color: #ff9600;
	}
	body{
	text-align:center;
	background-color: #e5e5e6;
	}
	</style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Une erreur est survenue : {{ status_text }}</title>
</head>
<body>
    <h1>Plastprod</h1>
    <h2>Le serveur a retourné une erreur "{{ status_code }} {{ status_text }}".</h2>
</body>
</html>