<!DOCTYPE html>
<html>
<head>
	<style>
		h1{
		color: #ff9600;
		}
		body{
		text-align:center;
		background-color: #e5e5e6;
		}
		h2{
		color:#a9a4aa;
		}
	</style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Une erreur est survenue : {{ status_text }}</title>
</head>
<body>
    <h1>Plastprod</h1>
    <h2>Le serveur a retourné une erreur "{{ status_code }} {{ status_text }}".</h2>
	<h2>Veuillez contacter le service informatique</h2>
</body>
</html>