<!DOCTYPE html>

<html>      
	<style>
		h1{
		color: #ff9600;
		}
		body{
		text-align:center;
		background-color: #e5e5e6;
		}
	</style>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Plastprod - Erreur 404</title>
</head>
<body>
	<h1>Plastprod</h1>	
    <h2>Erreur 404 - Page non trouvée</h2>
</body>
</html>