{# src/AppBundle/Resources/views/Admin/menu.html.twig #}

<ul class="nav nav-pills nav-stacked">
	<li>
		<a href="{{ path('accueil_admin') }}">Accueil</a>
	</li>
    <li>
    	<a href="{{ path('gerer_compte') }}">Comptes</a>
    </li>
    <li>
    	<a href="{{ path('gerer_droits') }}">Droits</a>
    </li>
</ul>