{# src/AppBundle/Resources/views/Production/menu.html.twig #}

<ul class="nav nav-pills nav-stacked">
  <li>
    <a href="{{ path('suivi_prod') }}">Suivi</a>
  </li>
	<li>
    <a href="{{ path('gerer_bon') }}">Bon</a>
  </li>
  <li>
    <a href="{{ path('gerer_rebut') }}">Rebut</a>
  </li>
	<li>
    <a href="{{ path('gerer_etiquette') }}">Etiquette</a>
  </li>
</ul>