{# src/AppBundle/Resources/views/Platform/menu.html.twig #}

<ul id="mnuplatform" class="nav nav-pills nav-stacked">
    <li id="admin">
        <a href="{{ path('accueil_admin') }}">Gestion</a>
    </li>
    <li id="client">
        <a href="{{ path('accueil_client') }}">Client</a>
    </li>
    <li id="prod">
        <a href="{{ path('accueil_prod') }}">Production</a>
    </li>
    <li id="stock">
        <a href="{{ path('accueil_stock') }}">Stock</a>
    </li>
</ul>